<div class="flex flex-col">
{% if app.user %}
    <div>
        {{ app.user.firstname }}
    </div>
    <div>
        {{ app.user.roles ? app.user.roles|json_encode|replace({'ROLE_': ''})|join(', ')|trim('[]"') : 'non défini' }}
    </div>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_dashboard') }}">Tableau de bord</a>
        <a href="{{ path('app_user_index') }}">Utilisateurs</a>
        <a href="{{ path('app_services_index') }}">Services</a>
        <a href="{{ path('app_habitats_index') }}">Habitats</a>
        <a href="{{ path('app_animals_index') }}">Animals</a>
        <a href="{{ path('app_opinions_index') }}">Opinions</a>
    {% endif %}
</div>
