{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Liste des services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>
                    {% if service.picture %}
                        <img src="{{ asset('uploads/' ~ service.picture.filename) }}" class="w-12 h-12 cover" alt="Service Picture">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}">Voir</a>
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun service</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_services_new') }}">Nouveau</a>
{% endblock %}
