{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">{{ service.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% for picture in service.picture %}
                        <img src="{{ asset('uploads/services/' ~ picture.file) }}" class="w-12 h-12 cover" alt="Service Picture">
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_services_index') }}">Retour</a>

    <a href="{{ path('app_services_edit', {'id': service.id}) }}">Modifier</a>

    {{ include('services/_delete_form.html.twig') }}
{% endblock %}
