{{ form_start(form) }}
<div class="flex justify-center items-center">
    <div class="flex flex-col items-center justify-center gap-4 p-8 w-7/12">
        <div class="flex flex-col w-full">
            {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'font-semibold text-lg'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control mt-2 border-custom-2 border-2 rounded-full p-2'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="flex flex-col w-full">
            {{ form_label(form.breed, 'Race', {'label_attr': {'class': 'font-semibold text-lg'}}) }}
            {{ form_widget(form.breed, {'attr': {'class': 'form-control mt-2 border-custom-2 border-2 rounded-full p-2'}}) }}
            {{ form_errors(form.breed) }}
        </div>
        <div class="flex flex-col w-full">
            {{ form_label(form.habitats, 'Habitat', {'label_attr': {'class': 'font-semibold text-lg'}}) }}
            {{ form_widget(form.habitats, {'attr': {'class': 'form-control mt-2 border-custom-2 border-2 rounded-full p-2'}}) }}
            {{ form_errors(form.habitats) }}
        </div>
        <div class="flex flex-col w-full">
            {{ form_label(form.picture, 'Images', {'label_attr': {'class': 'font-semibold text-lg'}}) }}
            {{ form_widget(form.picture, {'attr': {'class': 'form-control mt-2 border-custom-2 border-2 rounded-full p-2 cursor-pointer text-custom-4 bg-custom-2'}}) }}
            {{ form_errors(form.picture) }}
        </div>
        <div class="flex justify-center items-center gap-8 mt-8">
            <button class="py-2 px-6 bg-custom-2 text-custom-4 rounded-md cursor-pointer font-semibold text-sm hover:shadow-2xl hover:scale-105 hover:duration-200">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}