{% extends 'base.html.twig' %}

{% block title %}Voir un utilisateur{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4 mt-8">{{ user.lastname }} {{ user.firstname }}</h1>
    <div class="flex justify-start items-center gap-8">
        <a class="py-2 px-6 bg-custom-2 text-custom-4 rounded-md cursor-pointer font-semibold text-sm hover:shadow-2xl hover:scale-105 hover:duration-200" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
        <button class="py-2 px-6 bg-custom-5 text-custom-4 rounded-md cursor-pointer font-semibold text-sm hover:shadow-2xl hover:scale-105 hover:duration-200" id="delete-button">Supprimer</button>
    </div>
    <div class="flex flex-col justify-start items-center mt-6 relative z-10"> 
        <div class="flex flex-col w-full">
            <p class="font-semibold text-lg ">Prénom</p>
            <div class="font-normal text-base">{{ user.firstname }}</div>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-semibold text-lg ">Nom</p>
            <div class="font-normal text-base">{{ user.lastname }}</div>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-semibold text-lg ">Email</p>
            <div class="font-normal text-base">{{ user.email }}</div>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-semibold text-lg ">Rôle</p>
            <div class="font-normal text-base">{{ user.roles ? user.roles|json_encode|replace({'ROLE_': ''})|join(', ')|trim('[]"')|lower|capitalize : 'non défini' }}</div>
        </div>
    </div>


<div id="confirmationModal" class="fixed inset-0 flex items-center justify-center bg-[#000] bg-opacity-70 hidden z-50">
    <div class="bg-custom-4 p-6 w-2/3 h-2/3 rounded-lg shadow-lg relative z-60 flex flex-col justify-center items-center">
        <h2 class="text-lg font-semibold mb-4">Confirmer la suppression</h2>
        <p class="mb-4">Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
        <div class="flex justify-center items-center gap-4">
            <button class="py-2 px-6 bg-custom-2 text-custom-4 rounded-md cursor-pointer font-semibold text-sm hover:shadow-2xl hover:scale-105 hover:duration-200" id="cancel-button">Annuler</button>
            <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" id="delete-form">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button type="submit" class="py-2 px-6 bg-custom-5 text-custom-4 rounded-md cursor-pointer font-semibold text-sm hover:shadow-2xl hover:scale-105 hover:duration-200">Supprimer</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
